html,
body {
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  min-height: 100vh;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 48px;
}

p {
  margin-bottom: 0;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  font-family: "PT Mono", monospace;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

.days {
  font-size: 13px;
  padding-left: 30px;
  text-transform: capitalize;
}


@media screen and (min-width: 768px) {
  .container {
    border: 1px solid rgba(8, 0, 0, 0.3);
    border-radius: 8px;
    padding: 0 50px 20px 50px !important;
  }

  body {
    padding-top: 90px;
  }
}
