.WeatherInfo .row {
  row-gap: 20px;
}

.WeatherInfo .current-selected,
.WeatherInfo {
  font-weight: 500;
}

.WeatherInfo .current-information {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: 300;
}

.WeatherInfo .weather-information::first-letter {
  font-size: 15px;
  text-transform: capitalize;
}

.WeatherInfo .icon {
  margin-right: 15px;
}

.WeatherInfo .highlight-cell {
  border: 1px solid #9071ff25;
  border-radius: 8px;
  color: #1b1b1bb3;
  background-color: #9071ff0f;
}
